@import "style/bourbon/bourbon";
@import "style/neat/neat";
@import "style/base/base";
@import url('https://fonts.googleapis.com/css?family=Roboto');
.body,
html {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #eee;
    h1,
    h2,
    p {
        color: #333;
    }
    .page-header {
        text-align: center;
        padding: 2em;
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
        }
    }
}

.links { 
        max-width: 800px;
        margin: 1em auto 2em;
        display: flex;
        align-content: center;
        justify-content: space-around;
        li {
            text-align: center;
        }
    }
    article {
        text-align: left!important;
        max-width: 500px;
        background: white;
        padding: 2em;
        margin: 1em auto;
        header {
            h2 {
                font-size: 2em;
            }
            p {
                color: #888;
                font-size: 0.9em;
            }
            padding: 0;
            color: #888;
        }
    }
    section {
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

.game {
    font-size: 2em;
    display: inline;
    span, input {
        display: inline;
        width: auto;
        align-self: center;
    }
    input {
        width: 5em;
        margin-right: 1em;
    }
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 0.8em;
    ul {
        padding-top: 2em;
        display: flex;
        justify-content: flex-start;
        li {
            margin-right: 0.5em;
        }
    }
}

form {
    width: 100%;
    max-width: 500px;
    textarea {
        height: 250px;
    }
}